.reveal footer.marco {
	width:100%;
	height:16px;
	background-color:#CCC;
	position: fixed;
	bottom: 0px;
	font-size:11px;
	z-index: -1;
	padding: 0px 0px 0px;
	text-align: center;
}
.threefooterleft{
	 width:33%;
	 height:16px;
	 color:white;
	 background-color:#192042;
	 float:left;
}
.threefootercentre{
	width:33%;
	height:16px;
	float:left;
	text-align:center;
	}
.threefooterright{
	 width:33%;
	 height:16px;
	 color:white;
	 background-color:#192042;
	 float:right;
}

.reveal section img {
	border: 0;
	box-shadow: none;
	background: none;
}
.reveal img.topleft{
	width: 22%;
	position: fixed;
  left: 0px;
	top: 0px;
	/*z-index: -1;*/
}
.reveal img.bottomleft{
	width: 22%;
	position: fixed;
  left: 0px;
	bottom: 20px;
	/*z-index: -1;*/
}
.reveal img.topright{
	width: 15%;
	position: fixed;
  right: 0px;
	top: 0px;
	/*z-index: -1;*/
}
.reveal img.bottomright{
	width: 15%;
	position: fixed;
  right: 0px;
	bottom: 20px;
	/*z-index: -1;*/
}

.reveal section p.themes{
	position: fixed;
  right: 0px;
	top: 0px;
	font-size:8px;
	/*z-index: -1;*/
}

.reveal section h2.marco{
  color: black;
	font-family: verdana;
	font-size: 100%;
}
.reveal section h3.marco{
    color: black
	/*font-family: verdana;*/
	font-size: 100%;
}

.reveal ul.left{
    width: 40%;
    float:left;
}

.reveal ul.right{
    width: 40%;
    float:right;
}
.reveal img.flushRight{
    width: 45%;
    float:left;
}




.reveal div.arrow_H {
		position: fixed;
		top: 320px;
    width: 960px;
		-ms-transform: scale(0.7, 0.7); /* IE 9 */
		-webkit-transform: scale(0.7,0.7); /* Safari */
		transform: scale(0.7, 0.7);
}
.reveal div.line_H {
    margin-top: 15px;
    width: 760px;
    background: blue;
    height: 9px;
		position: fixed;
		left: 100px;
}
.reveal div.point_R {
		position: fixed;
		float:right;
		right: 80px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 30px solid blue;
}
.reveal div.point_L {
		position: fixed;
		float: left;
		left: 80px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 30px solid blue;
}


.reveal div.arrow_H_T {
		position: fixed;
		top: 340px;
    width: 990px;
		-ms-transform: rotate(90deg) scale(0.7,0.7); /* IE 9 */
		-webkit-transform: rotate(90deg) scale(0.7,0.7); /* Safari */
		transform: rotate(90deg) scale(0.7,0.7);*/
}
.reveal div.line_H_T {
    margin-top: 15px;
    width: 590px;
    background: blue;
    height: 9px;
		position: fixed;
		left: 200px;
}
.reveal div.point_R_T {
		position: fixed;
		float:right;
		right: 180px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 30px solid blue;
}
.reveal div.point_L_T {
		position: fixed;
		float: left;
		left: 180px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 30px solid blue;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.axis path {
		fill: none;
		stroke: #777;
		shape-rendering: crispEdges;
}
.axis text {
		font-family: Lato;
		font-size: 13px;
}


div.blackboxoval {
	position: fixed;
	bottom: 100px;
	left: 150px;
	width: 700px;
	height: 500px;
	background: black;
	border-radius: 700px / 500px; }

div.crystalboxoval {
	position: fixed;
	bottom: 130px;
	left: 220px;
	width: 500px;
	height: 300px;
	background: orange;
	border-radius: 500px / 300px; }

div.analyticoval {
	position: fixed;
	bottom: 160px;
	left: 350px;
	width: 260px;
	height: 200px;
	background: purple;
	border-radius: 260px / 200px; }



 #space-invader {
	 box-shadow: 0 0 0 1em red,
	 0 1em 0 1em red,
	 -2.5em 1.5em 0 .5em red,
	 2.5em 1.5em 0 .5em red,
	 -3em -3em 0 0 red,
	 3em -3em 0 0 red,
	 -2em -2em 0 0 red,
	 2em -2em 0 0 red,
	 -3em -1em 0 0 red,
	 -2em -1em 0 0 red,
	 2em -1em 0 0 red,
	 3em -1em 0 0 red,
	 -4em 0 0 0 red,
	 -3em 0 0 0 red,
	 3em 0 0 0 red,
	 4em 0 0 0 red,
	 -5em 1em 0 0 red,
	 -4em 1em 0 0 red,
	 4em 1em 0 0 red,
	 5em 1em 0 0 red,
	 -5em 2em 0 0 red,
	 5em 2em 0 0 red,
	 -5em 3em 0 0 red,
	 -3em 3em 0 0 red,
	 3em 3em 0 0 red,
	 5em 3em 0 0 red,
	 -2em 4em 0 0 red,
	 -1em 4em 0 0 red,
	 1em 4em 0 0 red,
	 2em 4em 0 0 red;
	 background: red;
	 width: 1em;
	 height: 1em;
	 overflow: hidden;
	 margin:
	 50px 0 70px 65px;
 }

 .reveal img.slicing{
 	width: 800px;
 	position: fixed;
  left: 100px;
 	top: 180px;
 	z-index: -1;
 }

reveal.canvas{
	 stroke: steelblue;
   stroke-width: 5px;
 }

 .button {
  display: inline-block;
  padding: 5px 7px;
  font-size: 9px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
